.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(216, 233, 233);

  height: auto;
  overflow: auto;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Home Page
    .home {
      height: 95vh;
      display: flex;
      justify-content: center;
      gap: 10%;
      align-items: center;

      button {
        margin-top: 100px;

        padding: 10%;
        border: none;
        background-color: rgb(23, 59, 26);
        cursor: pointer;
        color: white;
        &:hover {
          padding: 10%;
          border: 1px solid white;
          background-color: rgb(132, 175, 143);
          color: black;
        }
      }
    }
    .totresults {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 15%;
      margin-bottom: 35%;
      gap: 30px;
      .results {
        button {
          padding: 12px;
          border: none;
          background-color: rgb(23, 59, 26);
          cursor: pointer;
          color: white;

          &:hover {
            padding: 11px;
            border: 1px solid white;
            background-color: rgb(132, 175, 143);
            color: black;
          }
        }
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;

        text-align: center;
        background-color: #ebf5e7;

        width: 100%;
        color: #0a2b05;
        table {
          border-collapse: collapse;
          width: 50%;
        }

        th,
        td {
          text-align: center;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #b1d4b8;
        }
        tr:nth-child(odd) {
          background-color: #7ca77a;
        }

        th {
          background-color: #2e6129;
          color: white;
        }
      }
    }

    //Navbar
    // Navbar
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #333; // Add your preferred background color
      padding: 10px; // Add padding or any other styling as needed
      z-index: 1000;
      background-color: rgb(166, 187, 166);
      .container {
        padding: 10px 0px;
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-around;
        p {
          font-size: small;
          display: flex;
          gap: 25%;
          img {
            width: 20px;
            height: 20px;
          }
        }
        .logo {
          margin-left: 25px;
          img {
            width: 30%;
          }
        }
      }
    }

    //FOOTER

    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;

      padding: 10px; // Add padding or any other styling as needed
      z-index: 1000;

      background-color: rgb(166, 187, 166);
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-style: 12px;
      img {
        height: 50px;
      }
    }
    .adminhomeAll {
      display: flex;

      flex-direction: column;
      height: auto;
      align-items: center;
      justify-content: center;

      .adminhome {
        margin-top: 13%;
        margin-bottom: 30%;
        .adminhome2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .field {
            display: flex;
            padding: 1%;
          }
        }
        .password {
          display: flex;
          margin-top: 0%;
          gap: 1%;

          p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 120%;
            p {
              color: #336663;
            }
          }
        }
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        .error {
          font-size: small;
          color: rgb(209, 71, 71);
        }
        button {
          padding: 12px;
          border: none;

          background-color: rgb(23, 59, 26);
          cursor: pointer;
          color: white;

          &:hover {
            padding: 11px;
            border: 1px solid white;
            background-color: rgb(132, 175, 143);
            color: black;
          }
        }
        .fields {
          margin-bottom: 0px;
          display: flex;
          width: 100%;

          .fieldsBlock {
            gap: 10px;
            flex: 1;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .error {
              font-size: small;
              color: rgb(209, 71, 71);
            }
          }

          .field {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;

            p {
              font-size: medium;
              margin-top: 10px;
              max-width: 40%;
            }
          }

          p {
            font-size: 20px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
              sans-serif;
          }

          input {
            padding: 10px;
            border: 1px solid lightgray;
            background-color: rgb(246, 245, 247);

            &:hover {
              border: 1px solid white;
              background-color: rgb(212, 230, 214);
              color: rgb(20, 54, 17);
            }
          }
        }
      }
    }
    .parthome {
      img {
        width: 20px;
        position: fixed;
        top: 10%;
        left: 2%;
      }
      margin-top: 0;
      margin-bottom: 28%;

      align-items: center;
      label {
        cursor: pointer;
      }
      .error {
        font-size: small;
        color: rgb(209, 71, 71);
      }
      gap: 20px;
      padding: 210px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
      button {
        padding: 12px;
        border: none;
        background-color: rgb(23, 59, 26);
        cursor: pointer;
        color: white;

        &:hover {
          padding: 11px;
          border: 1px solid white;
          background-color: rgb(132, 175, 143);
          color: black;
        }
      }

      input {
        padding: 10px;
        border: 1px solid lightgray;
        background-color: rgb(246, 245, 247);

        &:hover {
          border: 1px solid white;
          background-color: rgb(212, 230, 214);
          color: rgb(20, 54, 17);
        }
      }

      .movie {
        display: flex;

        gap: 10px;
        flex-direction: column;
        align-items: center;
        //https://gist.github.com/adbutterfield/260249153051827d2dda78c39fba3259
        $radio-border-color: #8b8c89;
        $radio-checked-color: #1c5a30;
        $radio-hover-color: #a3cef1;
        $radio-disabled-bg-color: #d9d9d9;

        position: relative;
        display: inline-block;
        font-size: 16px; /* Adjust as needed */

        input[type="radio"] {
          transform: translateY(50%);
          position: relative;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          margin: 6px;
          padding: 0;
          border: 2px solid $radio-border-color;
          border-radius: 50%;
          appearance: none;
          background-color: transparent;
          outline: none;
          transition: outline 0.1s;

          &:not(:disabled):checked {
            border-color: $radio-checked-color;
            background-color: $radio-checked-color;
            background-clip: content-box;
            padding: 2px;
            background-image: radial-gradient(
              circle,
              $radio-checked-color 0%,
              $radio-checked-color 50%,
              transparent 60%,
              transparent 100%
            );
          }

          &:disabled {
            background-color: $radio-disabled-bg-color;
          }

          &:disabled:checked {
            background-image: radial-gradient(
              circle,
              $radio-border-color 0%,
              $radio-border-color 50%,
              transparent 50%,
              transparent 100%
            );
          }

          &:focus-visible {
            background-color: $radio-hover-color;
            outline: 6px solid $radio-hover-color;
            transform: scale(1.05);
          }
        }

        input {
          width: 15px;
        }
      }
    }
    .movie {
      justify-content: space-between;
    }
    .suggestions {
      margin-top: 1%;
      margin-bottom: 10%;
      .error {
        font-size: small;
        color: rgb(209, 71, 71);
      }
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: 12px;
        border: none;
        background-color: rgb(23, 59, 26);
        cursor: pointer;
        color: white;

        &:hover {
          padding: 11px;
          border: 1px solid white;
          background-color: rgb(132, 175, 143);
          color: black;
        }
      }

      input {
        padding: 10px;
        border: 1px solid lightgray;
        background-color: rgb(246, 245, 247);

        &:hover {
          border: 1px solid white;
          background-color: rgb(212, 230, 214);
          color: rgb(20, 54, 17);
        }
      }
      gap: 20px;
      padding: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      .suggestion {
        display: flex;
        gap: 15px;
      }
      .modifysug {
        gap: 20px;
        display: flex;
        img {
          width: 20px;
          height: 20px;
          cursor: pointer;

          &:hover {
            background-color: rgb(190, 175, 190);
          }
        }
      }
    }
    .adminInfo {
      img {
        width: 20px;
        position: fixed;
        top: 10%;
        left: 2%;
      }
      margin-top: 15%;
      margin-bottom: 40%;
      button {
        padding: 12px;
        border: none;
        background-color: rgb(23, 59, 26);
        cursor: pointer;
        color: white;

        &:hover {
          padding: 11px;
          border: 1px solid white;
          background-color: rgb(132, 175, 143);
          color: black;
        }
      }
      display: flex;
      width: 90%;

      .column {
        table {
          border-collapse: collapse;
          width: 50%;
        }

        th,
        td {
          text-align: center;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #b1d4b8;
        }
        tr:nth-child(odd) {
          background-color: #7ca77a;
        }

        th {
          background-color: #2e6129;
          color: white;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 25%;

        gap: 45px;
        .phase {
          h4 {
            margin-top: 5%;
            color: #0a2507;
          }
        }

        .participantsState {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;

          h4 {
            color: #0a2507;
          }
          p {
            color: #0a2507;
          }
        }
      }
    }
  }
}
