<div class="app">
  <app-header
    type="header"
    [text]="user()"
    (openHealthCheck)="openHealthCheckModal()"
  />
  <div class="content">
    @if (generalError()) {
    <app-error [errorMsg]="generalError()" />
    }@else if(generalError2()){
    <app-error [errorMsg]="generalError2()" />

    } @else{ @if (!isOpenModal()) {

    <router-outlet />

    }@else {
    <app-dialog
      [manualVisibility]="false"
      title="Healthcheck"
      type="healthcheck"
      (close)="closeHealthCheckModal()"
      ><app-modal
    /></app-dialog>
    } }
  </div>
  <!-- <app-card-container /> -->
  <app-header type="footer" text="pollar.app2024@gmail.com" />
</div>
